BOT_CLIENT_ID="1303793063491145773"
BOT_CLIENT_SECRET="j9kEnCxE271lzKg7kcoDZXjft5hbSh5H"
# The absolute url of the dashboard (Production)
APP_URL="http://localhost:3000"

# The absolute url of the api endpoint of your bot (Production)
NEXT_PUBLIC_API_ENDPOINT="http://localhost:8080"